* {
  box-sizing: border-box;
}

.btn-start {
  background-color: #8ed6ee;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  margin: 15px auto;
  display: block;
  width: 10rem;
  height: 3rem;
}

.container {
  width: 1600px;
  height: 900px;
  border: 5px solid black;
  margin: 15px auto;
  background-image: url('./img/GoTMain.jpg');
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'door1 door2 door3 door4 door5 door6'
    'door7 door8 door9 door10 door11 door12'
    'door13 door14 door15 door16 door17 door18';
}

.image {
  background-image: none;
  background-size: cover;
  background-position: center;
}

.text {
  height: 100%;
  width: 100%;
  color: white;
  padding: 10px;
  font-size: 5rem;
  border: 2px solid black;
  transition: opacity 2.5s;
}
