* {
  box-sizing: border-box;
}

.btn-start {
  background-color: #8ed6ee;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  margin: 15px auto;
  display: block;
  width: 10rem;
  height: 3rem;
}

.container {
  width: 1600px;
  height: 900px;
  border: 5px solid black;
  margin: 15px auto;
  background-image: url('./img/GoTMain.jpg');
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
