* {
  box-sizing: border-box;
}

.btn-start {
  background-color: #fa923f;
  color: white;
  border: 2px solid #512751;
  border-radius: 15px;
  margin: 15px auto;
  display: block;
  width: 10rem;
  height: 3rem;
}

.container {
  width: 1600px;
  height: 900px;
  border: 5px solid black;
  margin: 15px auto;
  background-image: url('./img/GoTMain.jpg');
  background-size: cover;
}
